body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.portal {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.portal-nav {
    margin: 10px;
    width: 300px;
    border: solid 1px black;
    min-height: 20vh;
}

.portal-content {
    margin: 10px;
    flex-grow: 1;
    border: solid 1px black;
    min-height: 50vh;
}

